[Desktop Entry]
Name=Desktop Search
Name[ca@valencia]=Cerca a l'escriptori
Name[el]=Αναζήτηση επιφάνειας εργασίας
Name[es]=Búsquedas de Escritorio
Name[eu]=Mahaigaineko bilaketa
Name[fi]=Työpöytähaku
Name[hu]=Asztali keresés
Name[id]=Pencarian Desktop
Name[ko]=데스크톱 검색
Name[nb]=Skrivebordssøk
Name[ru]=Поиск данных
Name[sk]=Hľadanie v prostredí
Name[sr]=Претрага радне површи
Name[te]=డెస్క్‍టాప్ శోధన
Name[zh_HK]=桌面搜尋
Name[zh_TW]=桌面搜尋
Comment=Find what you're looking for on this computer by name or content using Tracker
Comment[ar]=اعثر على ما تبحث عنه في هذا الحاسوب بالاسم أو المحتوى مستخدما المُقتفي
Comment[ca@valencia]=Trobeu el que esteu buscant a l'ordinador ja siga per nom o pel seu contingut utilitzant el Tracker
Comment[cs]=Nalézt to, co hledáte, na tomto počítači podle názvu nebo obsahu pomocí vyhledávače Tracker
Comment[de]=Tracker erlaubt es, auf diesem Rechner nach dem Namen oder Inhalten suchen
Comment[el]=Εύρεση αναζήτησης σε αυτόν τον υπολογιστή κατ' όνομα ή περιεχόμενο χρησιμοποιώντας τον Tracker
Comment[es]=Encuentre lo que está buscando por nombre o contenido en este equipo usando Tracker
Comment[fi]=Löydä etsimäsi nimen tai sisällön perusteella käyttäen Trackeria
Comment[pl]=Wyszukiwanie na tym komputerze według nazwy lub treści używając programu Tracker
Comment[ro]=Găsiți ceea ce căutați pe acest computer după nume sau conținut folosind Tracker
Comment[sl]=Poiščite kar iščete na tem računalniku po imenu ali vsebini z uporabo Trackerja
Comment[sr@latin]=Pronađite ono što tražite na ovom računaru prema nazivu ili sadržaju koristeći Tragača
Exec=tracker-needle
Icon=system-search
Terminal=false
Type=Application
Categories=GTK;Utility;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Tracker Needle
X-GNOME-Bugzilla-Version=1.0.3

