#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_CONFIGURE_EXTRA_FLAGS := \
	--enable-unac \
	--enable-external-qdbm \
	--enable-deskbar-applet=module \
	--enable-gui \
	--enable-preferences \
	--enable-libtrackergtk \
	--enable-trackerapplet

LDFLAGS += -Wl,--as-needed -Wl,-Bsymbolic

# Enforce tight shlibs dependencies
DEB_DH_MAKESHLIBS_ARGS_ALL := -V -X/usr/lib/tracker/extract-modules/

binary-install/libdeskbar-tracker::
	dh_pysupport -p$(cdbs_curpkg) /usr/lib/deskbar-applet/modules-2.20-compatible/
