#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed -Wl,-Bsymbolic

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-unac \
		--disable-unit-tests \
		--enable-tracker-status-icon \
		--enable-tracker-explorer \
		--enable-tracker-search-bar \
		--enable-tracker-search-tool \
		--enable-tracker-preferences \
		--enable-nautilus-extension \
		--enable-libvorbis \
		--enable-libflac \
		--enable-gtk-doc

# Enforce tight shlibs dependencies
override_dh_makeshlibs:
	dh_makeshlibs -V \
		-X/usr/lib/tracker-0.8/ \
		-X/usr/lib/evolution/ \
		-X/usr/lib/nautilus/extensions-2.0/

override_dh_strip:
	dh_strip --dbg-package=tracker-dbg
